body * {
  padding: 0;
  margin: 0;
}

canvas {
  border: 1px solid black;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-buttons {
  display: flex;
  justify-content: space-between;
}
